<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Request Header Parser Microservice</title>
    </head>
    <body>
        <h1>Request Header Parser Microservice</h1>
        <h3>User Story</h3>
        <p>I can get the IP address, language and operating system for my browser.</p>
        <h3>Instructions</h3>
        <p>Go to https://enigmatic-eyrie-60940.herokuapp.com/whoami to see details.</p>
    </body>
</html>
